
header {
  width: 100%;
  position: sticky;
  top: 0;
  background-image:radial-gradient( circle,var(--primer-color)  40%, var(--tercer-color) 100%);
  color: #2c3e50;
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'Georgia', serif;
  z-index: 1000;
}

header h1 {
  font-size: 2.5rem;
  padding: 8px;
  color: var(--texto-color);
}

header h2 {
  font-size: 1.5rem;
  padding: 10px;
  color: var(--texto-color);
}

nav {
  display: flex;
  justify-content: center;
  gap:  40px;
}

header a {
  color: var(--texto-color);
  text-decoration: none;
  font-weight: bold;
}

header a:hover {
  color: rgb(0, 224, 224);
}

header a.active {
  color: rgb(51, 155, 117);
  text-decoration-line: underline ;
}