.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-image: url('https://media.cntraveler.com/photos/5a8dd6793e9f9737bfc6cf22/16:9/w_1920,c_limit/Christ-Church_Ralph-Williamson__2018__MG_2614---Version-2.jpg');
  background-size: contain;
  background-position: center;
  box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.5);
}

.desenfoque{
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.486);
}


.form{
  max-width: 400px;
  padding: 20px;
  border: 2px solid var(--background-color);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.315);
}



form {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.seccion{
  margin-bottom: 14px;
}

label {
  margin: 5px;
  font-weight: bold;
}

span {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eeeeee;
  margin-top: 2px;
}

.error {
  color: red;
  font-weight: bold;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--primer-color);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: color-mix(in srgb, var(--primer-color), #777 10%);
}
